{% extends 'base.html' %}


{% block content %}

<div class="container voteContainer">
    <h2>Sizning ishtirokingiz</h2>
    <h4>Sizdagi tanlov :{{category.title}}</h4>

    {% if msg  %}

    
    <div class="alert alert-primary" role="alert">
      Siz allaqachon ishtirok ettingiz !
    </div>

    <a class="btn btn-primary btn-lg" href="{% url 'result' category.slug %}">Natijani ko‘rish</a>

    {% else %}



    <form action="" method='POST'>

      {% csrf_token %}
      
      {% for category in categories  %}

      <div class="form-check">
        <input class="form-check-input" type="radio" value="{{category.id}}" name="category_item" id="flexRadioDefault{{category.id}}" required>
        <label class="form-check-label" for="flexRadioDefault{{category.id}}">
          {{category.title}}
        </label>
      </div>
        
      {% endfor %}
        
    
     

          
          
   

    <button type="submit" class='btn btn-primary'>Submit</button>
  </form>


    
    
    {% endif %}

    


    
    
    
   

   
</div>


    
{% endblock content %}
    