{% extends 'base.html' %}


{% block content %}


<!-- Header-->
<header class="py-5">
    <div class="container-fluid px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">

                <h1 class="display-5 fw-bold">Elektron so'rovnoma</h1><br>
                <p class="fs-4">Qarshi muhandislik iqtisodiyot instituti anonim so'rovnomalar
                    tashkil etish tizimiga hush kelibsiz. Ovoz berishda ishtirok etish uchun login va parolingiz
                    orqali kirishingiz mumkin bo'ladi. Berilgan ovozlar holis tarzda berish mumkin. Ovoz beruvchilar
                    shaxsini ochiqlanmasligini <b>Institut administratsiyasi</b> o'z zimmasiga oladi !</p><br>
                <a class="btn btn-primary btn-lg" href="#votingSection">Ishtirok etish</a>
            </div>
        </div>
    </div>
</header>


<div class="container" id="votingSection">
    <h2 style="text-align: center;">Barcha so'rovnomalar</h2><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th>So'rovnoma nomi</th>
                <th>Boshlanish sanasi</th>
                <th>Tugallanish sanasi</th>
                <th>Ishtirokchilar soni</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in Vote %}
            <tr>
                <td>{{ forloop.counter }}</td> 
                <td><a href="{% url 'vote_detail' vote.id %}">{{ vote.name }}</a></td>
                <td>{{ vote.start }}</td>  
                <td>{{ vote.finish }}</td>
                <td>{{ vote_user_counts.vote.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> <br><br><br><br>
</div>



<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock content %}